<% @post.tags.build %>
<%= form_for(@post) do |post_form| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= post_form.label :name %><br />
    <%= post_form.select :name, [['Bangles','Bangles'],  
		['Bracelets','Bracelets'], 	
		['Brooches','Brooches'],
		['Childrens Jewellery','Childrens Jewellery'],
		['Dress rings','Dress rings'],
		['Earrings','Earrings'],
		['Engagement','Engagement'],
		['Jewellery Boxes & Organisers','Jewellery Boxes & Organisers'],
		['Loose Gemstones','Loose Gemstones'],
		['Mens Jewellery','Mens Jewellery'],
		['Tribal, Ethnic Jewellery','Tribal, Ethnic Jewellery'],
		['Vintage, Antique Jewellery','Vintage, Antique Jewellery'],
		['Watch Accessories','Watch Accessories'],
		['Watches','Watches'],
		['Wedding ring male','Wedding ring male'],
		['Wedding ring female','Wedding ring female']]%>
  </div>
  <div class="field">
  	<%= post_form.label :title %><br />
  	<%= post_form.select :title, [['Anniversary/Eternity','Anniversary/Eternity'],
  		['Birth','Birth'],
		['Christening','Christening'], 	
		['Confirmation','Confirmation'],  	
		['Engagement','Engagement'],
		['Graduation','Graduation'],
		['Memorial','Memorial'],
		['My First Jewellery','My First Jewellery'],
		['New Mum','New Mum'],
		['Wedding','Wedding'],
		['Sweet 16th','Sweet 16th'],
		['18th Birthday','18th Birthday'],
		['21st Birthday','21st Birthday'],
		['25th Birthday','25th Birthday'],
		['30th Birthday','30th Birthday'],
		['40th Birthday','40th Birthday'],
		['50th Birthday','50th Birthday'],
		['60th Birthday','60th Birthday'],
		['70th Birthday','70th Birthday'],
		['80th Birthday+','80th Birthday+'],
		['10yr Wedding Anniversary','10yr Wedding Anniversary'],
		['20yr Wedding Anniversary','20yr Wedding Anniversary'],
		['25yr Wedding Anniversary','25yr Wedding Anniversary'],
		['30yr Wedding Anniversary','30yr Wedding Anniversary'],
		['40yr Wedding Anniversary','40yr Wedding Anniversary'],
		['50yr Wedding Anniversary','50yr Wedding Anniversary'],
		['60yr Wedding Anniversary','60yr Wedding Anniversary']]%>
  </div>
  <div class="field">
    <%= post_form.label :content %><br />
    <%= post_form.text_area :content %>
  </div>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => post_form} %>
  <div class="actions">
    <%= post_form.submit %>
  </div>
<% end %>